body{
    padding-bottom: 128px;
    background-color: #09040f;
    background-image: linear-gradient(360deg,#09040f,rgba(0,0,0,0.5)),linear-gradient(140deg,#ee0c0c,#ff9659 22%,#D73802 38%,#2B2B2B 57%,#011c34 75%,#000000)
}
.logo{
    width: 20%;
}
.col-lg-3{
    color: white;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #F29459;
}
.navbar-nav .nav-item .nav-link{
    font-weight: bold;
}
#h1-main{
    color: white;
    font-size: 5vw;
}
h3{
    color: #F29459;
    font-size: 20px;
}
.btn-color{
    background-color: #d93600;
    border-color: #d93600;
}
.btn {
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: transparent !important;
    border-color: #d93600 !important;
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
#nano-text{
    text-justify:distribute;
    color: #ff9659;
    font-size: 20px;
}
#text-cnt3{
    color: #d73802;
    font-family: work-sans,sans-serif;
}
#text-cnt3-1{
    max-width: 756px;
    color: white;
}
#text-cnt3-2{
   font-size: 20px;
}
.card{
    background-color: #181628;
    border-radius: 5px;
    height: 20vw;
    margin-top: 1rem;
}
@media screen and (max-width: 620px){
    .card{
        height: 50vw;
        margin-top: 1rem;
    }
    .main-box-img{
        width: 10vw;
        
    }
}
.main-box-img{
    width: 8vw;
    margin-top: 10px;
   
}
.main-box-title{
    color: white;
    font-size: 30px;
}
.main-box-text{
    color: #ff9659;
    font-size: 15px;
}







